@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./../fonts/Inter-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('./../fonts/Inter-Medium.ttf') format('ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('./../fonts/Inter-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Inter', sans-serif;
    src: url('./../fonts/Inter-ExtraBold.ttf') format('ttf');
    font-style: normal;
    font-weight: 600;
}
